<script>

function activate(topic_name) {
    if(isRealValue($.jstree.reference('#data'))) {
        /* disable interval update function for old topic */
        deactivate();
        /* destroy old jstree */
        $.jstree.reference('#data').destroy();
        
    }
	scan_JSON(topic_name, function(data_type, data_msg) {
        var data_string = scan(data_type.msg_struct, data_msg);
		var strjson = "{\"core\" : {\"check_callback\" : true, \"data\" : ["+ data_string +"]}}";
		var objjson = $.parseJSON(strjson);
		/* create new jstree */
		$('#data').jstree(objjson);
	});

	/* bind is for enabling tree expand on tap, for mobile devices */
	$('#data').bind("select_node.jstree", function (e, data) {
			return data.instance.toggle_node(data.node);
			});
    
    /* create interval function for updating every x milliseconds */
	$.interval_func = window.setInterval(function(){
		update(topic_name);
		}, 500);
	$("#echo_topic_title").html("Monitoring " + topic_name);
}

function deactivate() {
	window.clearInterval($.interval_func);
}

function scan_JSON(topic_name, callback) {
	$.getJSON('/get_msg_type', 
			{ topic: [topic_name] }, 
			function(data_type) {
			$.getJSON('/get_last_msg',
				{ topic: topic_name },
				function(data_msg) {
				if($.isEmptyObject(data_msg) || $.isEmptyObject(data_type)) {
					console.error("Empty response for topic " + topic_name)
				}
				else {
					callback(data_type, data_msg);
				}
				});
			});
}

/* scans JSON and returns a string according to jstree needs */
var curr_id = 0;   
function scan(obj, val) {
	var k;
	var ret = "";
	if (obj instanceof Object) {
		for (k in obj){
			if (obj.hasOwnProperty(k)){
				//recursive call to scan property
				if(obj[k] instanceof Object) {
					ret += "{\"id\" : " + (++curr_id) + "," +
						"\"text\" : \"" + k + "\", " +
						"\"children\": [" + scan(obj[k], val[k]) + "]},"; 
				}
				else {
					ret += "{\"id\" : \"id" + (++curr_id) + "\"," +
						"\"text\" : \"" + k + " [" + obj[k] + "] : " + val[k] + "\"},"; 
				}
			}                
		}
		ret = ret.substr(0, ret.length ) ;
	} else {
		//not an Object so obj[k] here is a value
	};
	return ret.substr(0, ret.length - 1);
};

/* traverse the json object and updates the leafs text */
function scanForUpdate(obj, val) {
	var k;
	//window.console.log("update id " + update_id);
	if (obj instanceof Object) {
		for (k in obj){
			if (obj.hasOwnProperty(k)){
				//recursive call to scan property
				if(obj[k] instanceof Object) {
					++update_id;
					scanForUpdate(obj[k], val[k]); 
				}
				else {
					var this_node = $.jstree.reference('#data').get_node("id" + (++update_id));
					var renamed = $.jstree.reference('#data').rename_node(this_node, k + " [" + obj[k] + "] : " + val[k]);
					//window.console.log(renamed + " " + $.jstree.reference('#data').get_text(this_node));             
				}
			}                
		}
	} else {

	};
};

/* updates leafs value according to last_message received in the topic */
function update(topic_name) {
	update_id = 0;
	scan_JSON(topic_name, function(data_type, data_msg) { 
		scanForUpdate(data_type.msg_struct, data_msg);
		});
}

</script>
<h3 id="echo_topic_title"></h3>
<div id="echo_topic_msg_type"></div>
<div id="data"></div>
<button onclick="javascript:update()">redraw</button>

